body {
    background-color: #2D767F;
    text-align: center;
}

input {
    margin: auto;
    display: inline;
    width: 260px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #B4F1F1;;
    border: 3px solid #ECFFFB;
    background-color: transparent;
    font-size: 80%;
}

input:focus {
    outline: none; 
    border-style: double;
}

#messagesDiv {
    width: 450px;
    height:; 90vh;
    overflow-y: auto;
    margin: auto;
}

.message {
    padding: 8px;
    display: inline;
    background-color: #ECFFFB;
    color: #2D767F;
    border-radius: 5px;
}

.selfMessage {
    padding: 8px;
    display: inline;
    background-color: #B4F1F1;
    color: #2D767F;
    border: 1.5px solid #2D767F;
    border-radius: 5px;
}

.messageContainer {
    margin: 25px;
    text-align: left;
}

.selfMessageContainer {
    margin: 25px;
    text-align: right;
}

button {
    text-align: center;
    padding: 0;
    margin: auto;
    display: inline;
    width: 50px;
    height: 36px;
    color: #B4F1F1;
    border: 3px solid #ECFFFB;
    background-color: transparent;
    font-size: 80%;
}

button:hover {
    border-color: #B4F1F1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ECFFFB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ECFFFB;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ECFFFB;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ECFFFB;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #ECFFFB;
}
