body {
    background-color: #2D767F;
}

#login-panel {
    margin: auto;
    margin-top: 30vh;
    width: 500px;
    text-align: center;
}

input {
    margin: auto;
    display: block;
    width: 320px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    color: #B4F1F1;
    border: 3px solid #ECFFFB;
    background-color: transparent;
    margin-top: 15px;
    font-size: 110%;
}

input:focus {
    outline: none; 
    border-style: double;
}

button {
    border: 3px solid #ECFFFB;
    background-color: transparent;
    color: #B4F1F1;
    width: 120px;
    height: 45px;
    margin-top: 25px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 100%;    
}

button:hover {
    border-color: #B4F1F1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ECFFFB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ECFFFB;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ECFFFB;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ECFFFB;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #ECFFFB;
}
